.footer {
    position: relative;

    background: url("../../images/footerVector.svg");
    background-position: right 0px;
    background-repeat: no-repeat;
    background-size: auto 57.3em;

    .content {
        position: absolute;
        width: 100%;
        height: 30em;
        bottom: 0;
    }
}

@media screen and (max-width: 660px) {
    .footer {
        background: none;
        .content {
            padding-top: 30px;
            height: 180px;
        }
    }
}