@font-face {
    src: url(fonts/Futura.ttf);
    font-family: Futura;
}

@font-face {
  src: url(fonts/FuturaBoldUnicode.ttf);
  font-family: FuturaBoldUnicode;
}

html, body {
  height: 100vh;
}

#root, .app {
  height: auto;
}

body {
    background-color: #000;
    font-family: Futura;
    margin: 0;
    color: #FFFFFF;

    font-size: 10px;
}

//MAIN

.container {
  width: 100em;
  height: inherit;
  margin: auto;
  padding: 10px;
}

.full {
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.flex-end {
  justify-content: end;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.left {
  text-align: left !important;
}

.margin-off {
  margin: 0 !important;
}

.uppercase {
  text-transform: uppercase;
}

.small-text {
  span {
    font-size: 1.7em !important;
  }

  p {
    font-size: 2.5em !important;
  }
}

//SECTIONS

.home {
  height: 100vh;
  img.main {
    height: 27.3em;
    width: 55em;
  }
}

.about {
  // img.main {
  //   height: 32.2em;
  //   width: 40.3em;
  // }

  // img.festivalPic {
  //   height: 51.6em;
  //   width: 95.4em;
  // }

  .topics {
    font-size: 4.8em;
    line-height: 1.1666em;
  }
}

.sponsors {
  img.main {
    height: 25em;
    width: 25em;
  }

  .img-content {
    display: flex;
    align-items: center;
    height: auto;
    width: 23em;
    margin: 0 10px;
    justify-content: center;
  } 

  .title {
    font-style: italic !important;
  }
}

.sponsors-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // flex-wrap: wrap;
  // & > * {
  //   flex: 0 0 23em;
  // }
}

img.icon-1 {
  height: 7.4em;
  width: 6.475em;
}

img.icon-2 {
  height: 6.7em;
  width: 6.7em;
}

img.icon-3 {
  height: 7.4em;
  width: 7.4em;
}

img.icon-4 {
  height: 6.7em;
  width: 6.4em;
}

img.icon-5 {
  height: 7.4em;
  width: 6.8em;
}

.speakers {
  img.main {
    height: 18.7em;
    width: 52.3em;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.sponsors-icons {
  width: 100%;

  .link {
    a {
      font-size: 1em !important;
    }
  }
  
  img {
    margin: 2.6em 5px;
  }

} 

.agenda {
  img.main {
    height: 25.6em;
    width: 50.662em;
  }

  img.icon {
    height: 15em;
  }
}

//BUTTONS

.btn {

    &.fixed {
      position: fixed;
      right: 160px;
    }

    position: relative;
    cursor: pointer;

      .btn-cover {
        width: auto;
        min-width: 149.8px;
        height: 38px;
        
        border-radius: 41.8551px;
        position: absolute;
        opacity: 0;
        transition: all .2s;

        z-index: -1;

        &.big-btn-cover {
          width: auto;
          min-width: 252px;
          height: 64px;

          border-radius: 70.4927px;
        }

        &.medium-btn-cover {
          width: 220px;
          min-width: 220px;
          height: 64px;
        }

        &.blue-btn-cover {
          background: rgba(#289ACC, .6);
        }
  
        &.pink-btn-cover {
          background: rgba(#CA519C, .6);
        }

        &.white-btn-cover {
          background: rgba(#FFFFFF, .6);
        }

      }

      button {
        width: auto;
        min-width: 149.8px;
        height: 38px;
        border-radius: 41.8551px;
        font-family: Futura;
        font-size: 16.5217px;
        line-height: 19px;
        text-align: center;
        border: none;
        color: #FFFFFF;
        outline: none;

        cursor: pointer;

        &.blue {
          background: #289ACC;
        }

        &.pink {
          background: #CA519C;
        }

        &.white {
          background: #FFFFFF;
        }
      
      }

      &.big-pink {
        width: auto;
        min-width: 220px;
        height: 64px;
        border-radius: 70.4927px;
      }

      &.big-white {
        width: auto;
        min-width: 252px;
        height: 64px;
        border-radius: 70.4927px;
        background: #FFFFFF;
        span {
          color: #C9519C;
        }

      }

      .medium {
        min-width: 220px !important;
      }

      .bordered {
        background: #000000;
        box-sizing: border-box;
        border-radius: 51.5879px;
        width: auto;
        min-width: 163px;
        height: 37px;
        border-radius: 51.5879px;
        transition: all .2s;

        cursor: pointer;

        &.white-border {
          border: 1.46364px solid #FFFFFF;
        }

        &.big-pink-border {
          border: 2px solid #CA519C;

          &:hover {
            background: #CA519C;
          }
        }

        &.big-white-border {
          border: 2px solid #FFFFFF;
        }

        span {
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
        }
      }

      .big {
        width: auto;
        min-width: 252px;
        height: 64px;
        border-radius: 70.4927px;

        span {
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
        }
      }

      &:hover {
        .btn-cover{
            opacity: 1;
            filter: blur(30px);
        }

        .big-btn-cover{
          opacity: 1;
          filter: blur(20px);
      }
        
      }
}

.url {
  position: relative;

  text-decoration: none;
  color: #FFFFFF;
  transition: all .2s;
  font-size: 1.5em;

  .tooltip {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 130%;
    transition: all .2s;

    height: 20px;
    width: auto;
    min-width: 5.55em;

    background: rgba(#000000, 1);
    border: 1px solid #FFFFFF;
    border-radius: 4px;

    .tooltip-text {
      position: absolute;
      top: -13px;
      text-align: center;
      width: 100%;

      font-size: 13px;
      line-height: 20px;
      font-weight: 400!important;
    }

    &:after {
      position: absolute;
      border-right: 6px solid transparent;
      border-top: 6px solid rgba(#FFFFFF,1); 
      border-left: 6px solid transparent;
      content: '';
      height: 0;
      top: 100%;
      left: 10px;
      width: 0;
    }
  }

  .icon-shadow {
    position: absolute;
    top:0;
    height: 1em;
    width: 1em;
    background: rgba(#FFFFFF, 1);
    opacity: 0;
    filter: blur(20px);
    transition: all .2s;
  }

  &:hover {

    .tooltip {
      opacity: .5;
    }

    .icon-shadow {
      opacity: .3;
    }
  }

}

.link-no-decoration {
  text-decoration: none;
}

.link {
  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 2.4em;
    line-height: 1.333em;
    text-align: center;
    color: #FFFFFF;
    transition: all .2s;

    &.underlined {
      color: #C9C9C9;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.dot {
  display: inline-block;
  margin-right: 20px;
  height: 15px;
  width: 15px;
  background: #289ACC;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  background: #000; 
  color: #000;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000; 
}

//AGENDA TABS

.MuiTableBody-root .css-apqrd9-MuiTableBody-root {
  &:last-child {
    display: none !important;
  }
}

.Label-label .Label-emptyLabel .css-1fbp63r {
  display: none !important;
}

.css-18tcpub-MuiTableCell-root.Cell-cell:hover {
  background-color: #000 !important;
}

.css-6eykea-MuiTable-root.Table-table {
  min-width: 950px !important;
}

.css-1ps6pg7-MuiPaper-root, .css-1my4mrz .MainLayout-background, .css-1my4mrz .MainLayout-stickyElement {
  background-color: #000 !important;
}

.css-1my4mrz .MainLayout-header {
  z-index: 200 !important;
}

.css-5g40bp-MuiTableCell-root .Cell-text {
  color: #fff !important;
}

.css-1my4mrz .MainLayout-brightLeftPanelBorder {
  // border: none !important;
  z-index: 100 !important;
  border-right: 1px solid #353535 !important;
}

.css-1my4mrz .MainLayout-brightHeaderBorder {
  border-bottom: none !important;
}

.css-18tcpub-MuiTableCell-root.Cell-cell, .css-ngju2w-MuiTableCell-root.Cell-cell, .css-5g40bp-MuiTableCell-root.Cell-cell {
  border: 1px solid #353535 !important;
  &:hover {
    background-color: #000 !important;
  }
}

.css-aoeo82 {
  background-color: #000 !important;
}

.css-1my4mrz .MainLayout-ordinaryHeaderBorder {
  border: none !important;
}

.css-1my4mrz .MainLayout-ordinaryLeftPanelBorder {
  border-right: 1px solid #353535 !important;
}

.css-xd4oto-MuiTableCell-root {
  border-bottom: 1px solid #353535 !important;
}

.VerticalAppointment-content {
  height: 100%;
  width: 100%;
}

.Cell-text {
  font-size: 3.8em;
  line-height: 1.1666em;
  width: 100%;
  text-align: center;
}
.css-5g40bp-MuiTableCell-root.Cell-horizontalCell {
  border-bottom: none !important
  
}

.css-1675apn-MuiTableCell-root {
  display: none !important;
}
.MuiTableCell-root {
  height: 101px !important;
}
.MuiTableCell-root {
  height: 100px !important;
  .Label-emptyLabel {
    display: none !important;
  }
  .Label-label {
    height: 100px !important;
    width: 120px !important;
    overflow: initial !important;
    position: relative;
    .Label-text {
      font-size: 1.4em;
      color: #fff;
      position: absolute;
      bottom: 33px;
      right: 10px;
    }
  }
}
.css-9q0p2j-MuiTable-root {
  height: 100px !important;
}

.agenda-container {
  margin: 0;
  height: 100%;
  width: 100%;
  white-space: normal;
  font-family: Futura !important;
  border: 1px solid #353535;
  border-radius: 10px;
	.time {
    background-color: #000;
    border-radius: 10px;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .time span {
    font-size: 16px;
    margin: 0;
    letter-spacing: 1px;
  }

  .ampm {
    text-transform: uppercase;
  }
  
  .time-preview {
    background-color: #289ACC;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100px;

    .time-diffs {
      text-transform: capitalize;
    }
  }
  
  .course-info {
    padding: 10px;
    width: 100%;
  }
  
  .progress {
    background-color: #000;
    border-radius: 3px;
    font-size: 2.4em;
    height: 5px;
    width: 100%;
  }
   
  .progress-text {  
    color: #fff;
    letter-spacing: 1px;
  }

  .room {
    display: none;
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    bottom: 10px;
    right: 10px;
  }

  .speaker-text {
    color: rgba(0,0,0, .6);
  }

}

.tabs {  
  display: flex;
  // position: sticky;
  // top: 0;
  // background: #000;
  // z-index: 1000;
}  

.tab {  
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #000; 
  padding: 2em 0;  
  border: none;
  color: #fff;
  cursor: pointer;
}
.tab.active {
  color: #289ACC;
}
.panel {
  display: none;
  padding: 10px;
}
.panel.active {
  display: revert;
}

.cards {
  display: none;
}

.card {
  display: none;
  p {
    padding: 5px;
  }
}
.card.active {
  display: revert;
}
.date {
  font-size: 24px;
  text-transform: capitalize;
}


//TEXTS

.pink-text {
  color: #C9509C !important;
}

.blue-text {
  color: #289ACC !important;
}

.topic-icons {
  
  .paragraph {
    font-size: 3.8em;
    line-height: 1.1666em;
    width: 100%;
    text-align: left;
  }
}

.title {
  font-weight: 500;
  font-size: 2.8em;
  line-height: 1.321em;
  text-align: center;
  color: #FFFFFF;

  &.big {
    font-size: 3.6em;
    line-height: 1.166em;
  }

  span {
    font-family: FuturaBoldUnicode;
  }
}

.paragraph {
  font-size: 2.4em;
  line-height: 1.166em;
  text-align: center;

  color: #C9C9C9;

  span {
    font-family: FuturaBoldUnicode;
  }
  span.time {
    display: block;
    font-family: FuturaBoldUnicode;
    font-size: 1.1em !important;
    min-width: 6.8em;
  }

  span.name {
    font-family: Futura;
    font-size: 1.1em !important;
    font-weight: 600;
    // font-style: italic;
  }

}

.big-text {
  font-size: 5em;
  line-height: 1.015em;
  color: #FFFFFF;

  span {
    font-family: FuturaBoldUnicode;
  }

}

.rounded {
  border-radius: 50%;;
  width: 27.3em;
  height: 27.3em;
}

.img-title {

  margin-top: 25px;
  margin-bottom: 5px;
  font-style: normal;
  font-size: 2.4em;
  line-height: 1.333em;
  text-align: center;

  color: #FFFFFF;

  span {
    font-family: FuturaBoldUnicode;
  }
}

.img-paragraph {
  margin: 0;
  font-size: 1.8em;
  line-height: 1.166em;
  text-align: center;
  max-width: 200px;

  color: #FFFFFF;

  span {
    color: #16C6E0;
  }
}

.organisers-images {
  .logo {
    margin-right: 23em;
    img {
      width: 27em;
    }
  }
}

.team-images {
  width: 70%;
  & > div {
    margin-bottom: 11em; 
    &:nth-child(odd){
      margin-right: 11em;
    }
    &:nth-child(even){
      margin-left: 11em;
    }
  }

  .rounded {
    width: 15.3em;
    height: 15.3em;
  }
}

//MAP
.leaflet-container {
  position: relative;
  width: 100%;
  height: 390px;
}

.leaflet-control-attribution {
  display: none;
}

//SPACES

.space-85-height {
  height: 8.5em;
}

.space-40-height {
  height: 4em;
}

.space-25-height {
  height: 2.5em;
}

.space-100-height {
  height: 10em;
}

.space-20-height {
  height: 2em;
}

.space-250-height {
  height: 25em;
}

.space-35-height {
  height: 3.5em;
}

.space-25-width {
  width: 2.5em;
  min-width: 2.5em;
}

.space-10-height {
  height: 1em;
}

.space-80-height {
  height: 8em;
}

.space-60-width {
  width: 6em;
}

@media screen and (max-width: 1400px) {
  body {
    font-size: 8px;
  }

  .btn {
    &.fixed {
      right: 130px;
    }
  }


}

@media (min-width: 768px) and (max-width: 1400px) {
  .agenda {
    justify-content: center;
    .episodes {
      
      .col {
        & > div {
          flex-direction: column;
          align-items: center;
          .img-title {
            span {
              width: 100%;
              margin-top: 20px;
              display: block;
              text-align: center;
            }
            
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 7.5px;
  }

  .about, .speakers, .sponsors, .agenda {
    padding-top: 80px;
  }
  
}

@media screen and (max-width: 805px) {
  body {
    font-size: 6px;
  }

  .agenda {
    .episodes {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 800px) {
  .btn {
    &.fixed {
      top: 100px;
      right: 20px;
    }
  }
}

@media screen and (max-width: 660px) {
  body {
    font-size: 7px;
  }

  .container {
    width: auto;
  }

  .topic-icons {
    flex-direction: column;
  }

  .paragraph {
    // padding: 0 10px;
    text-align: left;
  }

  .about {
    img.festivalPic {
      width: 100%;
      height: auto;
    }
  }

  .tooltip {
    display: none !important;
  }

  .big-text {
    font-size: 5em;
  }

  .small-text {
    // width: 175px;
  }

  .home, .about, .speakers, .sponsors, .agenda {
    img.main{
      display: none;
    }
  }

  .speakers {
    .speakers-images {
      flex-direction: column;
      align-items: center !important;
    }
  }

  .team-images {
    flex-direction: column;
  }

  .mobile-width {
    max-width: 300px !important;
    flex-direction: column !important;
  }

  .sponsors {
    .sponsors-icons {
      width: 100%;
    }
  }

  .topic-icons {
  
    .paragraph {
      padding: 0;
      font-size: 2.8em;
    }
  }

  .register {
    display: none;
  }

  .sponsors-icons {
    flex-direction: column;

    .flex {
      flex-direction: column;
    }
  
  } 

  .tabs {
    flex-direction: column;
    button {
      padding: 10px;
    }
  }

  .panels {
    display: none;;
  }

  .css-gyiown.VerticalAppointment-content {
    padding: 0 !important;
  }

  .cards {
    display: block;
    padding: 5px;
    .agenda-container {
      min-height: 200px !important;
      height: auto !important;
      position: relative;
      // border: 1px solid #000;
      margin-bottom: 10px;
      .time {
        box-shadow: none;
      }

      .room {
        display: block;
      }
    }
  }
}

